{% extends 'admin_index.html' %}

{% block content %}
    <div class="content-wrapper">
        <!--内容-->
        <section class="content-header">
            <p><h2>xxxx个人信息</h2><a href="/tree/" class="label label-danger">族谱树</a></p>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 会员管理</a></li>
                <li class="active">查看会员</li>
            </ol>
        </section>

        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12" style="display: inline-block;">
                    <div class="box box-primary" style="width: 30%;">
                        <div class="box-header">
                            <h3 class="box-title">会员详情</h3>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td class="td_bd">编号：</td>
                                    <td>{{ userinfo.id }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">昵称：</td>
                                    <td>{{ userinfo.nickname }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">邮箱：</td>
                                    <td>{{ userinfo.email }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">手机：</td>
                                    <td>{{ userinfo.phone }}</td>
                                </tr>
                                <tr>
                                    <td class="td_bd">头像：</td>
                                    <td>
                                        <img data-src="holder.js/100x100" class="img-responsive" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">注册时间：</td>
                                    <td>
                                       {{ userinfo.register_time }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">唯一标志符：</td>
                                    <td>
                                        {{ userinfo.uniqueid }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_bd">个性简介：</td>
                                    <td>
                                        {{ userinfo.info}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<iframe   src="/index/" width="55%" height="50%"   frameborder="1/1"  style="position: absolute;left: 900px;top: 100px" name="iframe名称"     scrolling="auto">
</iframe>
         <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">相关人员信息</h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right"
                                           placeholder="请输入关键字...">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>编号</th>
                                    <th>真实姓名</th>
                                    <th>昵称</th>
                                    <th>姓氏</th>
                                    <th>性别</th>
                                    <th>出生日期</th>
                                    <th>手机号码</th>
                                    <th>邮箱</th>
                                    <th>头像</th>
                                    <th>籍贯</th>
                                    <th>注册时间</th>
                                    <th>注册状态</th>
                                    <th>操作事项</th>
                                </tr>
                                {% for one in other_lis %}
                                <tr>
                                    <td>{{ one.id }}</td>
                                    <td>{{ one.name }}</td>
                                    <td>{{ one.nickname }}</td>
                                    <td>{{ one.xingshi}}</td>
                                    <td>{{ one.sex }}</td>
                                    <td>{{ one.birthday }}</td>
                                    <td>{{ one.phone }}</td>
                                    <td>{{ one.email }}</td>
                                    <td>
                                        <img src="{{ one.image }}" class="img-responsive center-block" alt="">
                                    </td>
                                    <td>{{ one.jiguan }}</td>
                                    <td>{{ one.register_time }}</td>
                                    <td>
                                        {% if one.tag == '未注册' %}
                                        <a class="label label-danger">未注册</a>

                                    {% else %}
                                        <a class="label label-success">已注册</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="label label-success" href="/user_view/{{ one.id }}">查看</a>
                                        &nbsp;
                                        <a class="label label-info">解冻</a>
                                        &nbsp;
                                        <a class="label label-warning">冻结</a>
                                        &nbsp;
                                        <a class="label label-danger">删除</a>
                                            &nbsp;
                                         <a href="/sendemail/{{ userinfo.email }}/{{ one.email }}" class="label label-primary">邀请注册</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">首页</a></li>
                                <li><a href="#">上一页</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">下一页</a></li>
                                <li><a href="#">尾页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--内容-->
    </div>
{% endblock %}
